<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BlackBank</display-name>
  <listener>
    <listener-class>org.apache.tiles.web.startup.TilesListener</listener-class>
  </listener>
  
  <context-param>
    <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
    <param-value>
    	/WEB-INF/tiles-bank.xml,/org/apache/tiles/classpath-defs.xml
    </param-value>
  </context-param>
  
  <servlet>
    <servlet-name>BankController</servlet-name>
    <servlet-class>bank.controller.BankController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankController</servlet-name>
    <url-pattern>/bank.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
     	<param-name>debug</param-name>
      	<param-value>true</param-value>
    </init-param>
  </servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>
	
</web-app>