<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 방명록정보 처리 SQL -->
<mapper namespace="global.sesoc.js.ICommentDAO">
	
	<!-- 댓글 등록 -->
	<insert id="insertComment" parameterType="Comment">
		INSERT INTO 
			usercomment 
			(repno
			, name
			, text)
		VALUES
			(seq_usercomment.nextval
			, #{name}
			, #{text}
			)
	</insert>
	
	<!-- 댓글목록 -->
	<select id="selectComment" resultType="Comment">
		SELECT repno
		, name
		, text
		, TO_CHAR(create_date, 'YYYY-MM-DD (am)hh:mi:ss') create_date
		FROM usercomment
		ORDER BY create_date DESC, repno DESC
	</select>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteComment" parameterType="int">
		DELETE FROM usercomment
		WHERE 
			repno = #{repno} 
	</delete>
	
	<!-- 댓글 수정 -->
<!-- 	<update id="updateReply" parameterType="Reply"> -->
<!-- 		UPDATE reply_web5 -->
<!-- 		SET text = #{text} -->
<!-- 			, update_date = sysdate -->
<!-- 		WHERE  -->
<!-- 			repno = #{repno}  -->
<!-- 			AND custid = #{custid} -->
<!-- 			AND bno = #{bno} -->
<!-- 	</update> -->
</mapper>