<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.web5.customer.vo.CustomerVO" alias="Customer" />
		<typeAlias type="global.sesoc.web5.board.vo.BoardVO" alias="Board" />
		<typeAlias type="global.sesoc.web5.board.vo.ReplyVO" alias="Reply" />
	</typeAliases>
	<mappers>
		<mapper resource="global/sesoc/web5/customer/mapper/customerMapper.xml" />
		<mapper resource="global/sesoc/web5/board/mapper/boardMapper.xml" />
	</mappers>
</configuration>
