@CHARSET "UTF-8";

th {
	background-color: #a6a6a6;
	width: 100px;
}

td {
	background-color: #d9d9d9;
}

#btn_area {
	text-align: center;
}

#err {
	color: red;
	margin-bottom: 10px;
}

.img_list {
	width: 45px;
	height: 45px;
	cursor: pointer;
}

#v_title {
	width: 350px;
}

#v_search {
	width: 300px;
}

img {
	width: 25px;
	height: 25px;
}

#tb_list {
	height: 500px;
}

#tb_list td:nth-child(1)
, td:nth-child(4)
, td:nth-child(5)
, td:nth-child(6) {
	text-align: center;
}

#tb_list td:nth-child(2) {
	width: 250px;
}

#lb_title {
	cursor: pointer;
}

#lb_content {
	width: 50px;
	height: 100px;
}

#td_content {
	width: 400px;
	height: 200px;
}

.white {
	border: 1px solid white;
	background-color: white;
}

#div_paging
, #div_search {
	width: 700px;
	text-align: center;
}

#div_search {
	height: 60px;
}

#div_btn
, #div_rep {
	width: 500px;
	text-align: center;
}

#div_rep input[type=text] {
	width: 350px;
}

#img_down {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#img_down_list {
	cursor: pointer;
}